body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("http://1.bp.blogspot.com/-zuxQRMw6cxE/UZaWXhfuuUI/AAAAAAAAd9U/F7qXBLaYq1w/s1600/ARBOL-SOL-VERDE-CIELO-AZUL.jpg");
}

h1 {
	text-align: center
}