body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("http://www.desktopwallpaperhd.net/wallpapers/17/6/blue-vector-clouds-devianart-nkspace-175270.jpg");
}

h1 {
	text-align: center
}